<template>
  <q-item clickable :active="menuItem.label === 'Outbox'" v-ripple>
    <q-item-section avatar>
      <q-icon :name="menuItem.icon" />
    </q-item-section>
    <q-item-section>
      {{ menuItem.label }}
    </q-item-section>
  </q-item>
<!--
  <q-separator v-if="`${menuItem.separator}`" />
-->

</template>

<script>
export default {
  name: 'EssentialLink',
  props: ["menuItem"]
}
</script>
