<template>
  <div class="q-pa-md">
    <q-infinite-scroll @load="onLoad(results)" :offset="250">
      <template v-slot:loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots color="primary" size="40px" />
        </div>
      </template>
    </q-infinite-scroll>
  </div>
</template>

<script>
  export default {
    name: "InfiniteScroll",
    props: ["results"],
    methods: {
      onLoad (index, done, results) {
        setTimeout(() => {
          if (results) {
            results.push({})
            done()
          }
        }, 2000)
      }
    }
  }
</script>
