<template>
  <div class="q-pa-md q-gutter-y-sm column items-center">
    <div v-if="results.length > 0" @load="onLoad(results.length)">
    </div>
    <div v-else>
    </div>
  </div>
</template>


<script>
  console.log("called componnet snackbar");
  export default {
    name: "Snackbar",
    props: ["results"],
    methods:{
      onLoad(leng) {
        console.log("results Found", message)
        this.$q.notify({
          color: 'teal',
          textColor: 'black',
          icon: 'thumb_up',
          message: `Results Found`,
          position:'top-left',
        })
      }
    }
  }
</script>

<!--

 <q-btn round size="sm" color="secondary" @click="showNotif('top-left')">
 actions: twoActions
            ? [
              { label: 'Reply', color: buttonColor, handler: () => { /* console.log('wooow') */ } },
              { label: 'Dismiss', color: 'yellow', handler: () => { /* console.log('wooow') */ } }
            ]
            : (random > 40
                ? [ { label: 'Reply', color: buttonColor, handler: () => { /* console.log('wooow') */ } } ]
                : null
            ),-->
