<template>
  <div class="q-pa-md">
    <q-card class="my-card">
      <div class="row">
         <div class="col-4 bg-video">
           <q-video :src="`https://www.youtube.com/embed/${result.id}?rel=0`" />
         </div>
        <div class="col-8">
          <q-card-section>
            <div class="text-h6"> {{result.title}}</div>
            <div class="text-subtitle2">{{result.channelTitle}}</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            {{result.description}}
          </q-card-section>
        </div>
      </div>
    </q-card>
  </div>
</template>
<script>
  export default {
    name: 'YouTubeItems',
    props: ["result", "result.link"],
  }
</script>

<style>
  .my-card{
    width: 100%;
  }
  .bg-video{
    padding: 10px;
  }

</style>
