<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-toolbar">
          <div class="row toolbar">
            <div class="col-7 toolbar-item">
              <q-btn @click="leftDrawerOpen = !leftDrawerOpen"
                     round dense flat icon="menu" class="q-mr-xs" />
              <div class="toolbar-text">Youtube Search</div>
            </div>
            <div class="col-5">
              <q-input square outlined v-model="text" input-class="text-left" class="input-bg" value="text" @keydown.enter="runSearch">
                <template v-slot:append>
                  <q-icon v-if="text === ''" name="search" class="icon"/>
                  <q-icon v-else name="clear" class="cursor-pointer" @click="text = ''" />
                </template>
              </q-input>
            </div>
        </div>
    </q-header>
    <!-- Left Drawer -->
      <q-list>
        <q-drawer
          v-model="leftDrawerOpen"
          show-if-above
          :width="200"
          :breakpoint="500"
          bordered
          content-class="bg-grey-3"
        >
          <q-scroll-area class="fit">
            <q-list v-for="(menuItem, index) in menuList" :key="index">
               <EssentialLink v-bind:menuItem="menuItem"/>
            </q-list>
          </q-scroll-area>
        </q-drawer>
      </q-list>
    <!--Page container-->
    <q-page-container class="bg">
      <div v-if="isFetched">
        <Snackbar v-bind:results="results"/>
        <div v-for="result in results" v-bind:key="result.id">
          <YouTubeItems v-bind:result="result"/>
        </div>
       <InfiniteScroll v-bind:results="results"/>
      </div>
      <div v-else>
        <div class="row">
          <q-spinner-hourglass
            color="red"
            size="1em"
            class="col-1 offset-5"
          />
          <q-tooltip :offset="[0, 8]">Loading ...</q-tooltip>
        </div>
      </div>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
import YouTubeItems from '../components/YouTubeItems';
import youtube from '../providers/youtube';
import EssentialLink from '../components/EssentialLink'
import InfiniteScroll from '../components/InfiniteScroll'
import Snackbar from '../components/Snackbar'

const menuList = [
  {
    icon: 'home',
    label: 'Home',
    separator: true
  },
  {
    icon: 'style',
    label: 'trending',
    separator: false
  },
  {
    icon: 'today',
    label: 'Subscrption',
    separator: false
  },
  {
    icon: 'error',
    label: 'History',
    separator: true
  },
  {
    icon: 'feedback',
    label: 'Send Feedback',
    separator: false
  },
  {
    icon: 'help',
    iconColor: 'primary',
    label: 'Help',
    separator: false
  }
]
export default {
  name: 'MainLayout',
  components: { Snackbar, InfiniteScroll, EssentialLink, YouTubeItems },
  data () {
    return {
      leftDrawerOpen: true,
      essentialLinks: [
        {
          title: 'Docs',
          caption: 'quasar.dev',
          icon: 'school',
          link: 'https://quasar.dev'
        },
        {
          title: 'Github',
          caption: 'github.com/quasarframework',
          icon: 'code',
          link: 'https://github.com/quasarframework'
        },
        {
          title: 'Discord Chat Channel',
          caption: 'chat.quasar.dev',
          icon: 'chat',
          link: 'https://chat.quasar.dev'
        },
        {
          title: 'Forum',
          caption: 'forum.quasar.dev',
          icon: 'record_voice_over',
          link: 'https://forum.quasar.dev'
        },
        {
          title: 'Twitter',
          caption: '@quasarframework',
          icon: 'rss_feed',
          link: 'https://twitter.quasar.dev'
        },
        {
          title: 'Facebook',
          caption: '@QuasarFramework',
          icon: 'public',
          link: 'https://facebook.quasar.dev'
        },
        {
          title: 'Quasar Awesome',
          caption: 'Community Quasar projects',
          icon: 'favorite',
          link: 'https://awesome.quasar.dev'
        }
      ],
      text: '',
      results: [],
      isFetched: false,
      menuList
    }
  },
  methods: {
    runSearch(){
      youtube(this.text).then(results => {
        this.isFetched = true;
        console.log("results" ,results);
        this.results = results;
      }).catch(err => {
        this.isFetched = false;
        console.error(err)
      })
    },
  },
  created () {
    this.results = [];
  }
}
</script>
<style>
  .bg{
    background-color: rgb(239,239,239);
  }
  .bg-toolbar{
    background: #C10015;
  }
  .toolbar{
    display: flex;
    padding: 1rem;
    align-items: center;
  }
  .toolbar-text{
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
  }
  .input-bg{
    background: white;
    border-radius: 3px;
  }
  .toolbar-item{
    display: flex;
    align-items: center;
  }
  .icon{
    padding:  5px 3px 0px 3px;
    font-size: 28px;
    color: red;
  }
  .spin{
    display: flex;
    align-items: center;
  }
  .spin img{
    flex: 6;
  }
  .spin span{
    flex: 6;
    padding: 20px;
    font-size: 19px;
    font-weight: 800;
    margin-left: 15px;
  }
</style>
